<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity" >

    <container>

      <register name="MessageServer" type ="TaskBoard.Contracts.IPlugin, TaskBoard.Plugin" mapTo="TaskBoard.WebSocketHost, WebSocketServer" >
        <lifetime type="singleton" />
        <constructor>
          <param name="serviceName">
            <value value="SuperWebSocket"/>
          </param>
          <param name="port">
            <value  value="911"/>
          </param>
        </constructor>
      </register>

      <register name="WCFNotificationService" type="TaskBoard.Contracts.IPlugin, TaskBoard.Plugin" mapTo="TFSPlugin.ServiceHostPlugin, TFSPlugin" />
      
    </container>

  </unity>

  <system.serviceModel>

    <bindings>
      <wsHttpBinding>
        <binding name="EventServiceBinding">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="EventServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>

      <service behaviorConfiguration="EventServiceBehavior" name="TFSPlugin.Notification.WorkItemChangedService">

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/Notification"/>
          </baseAddresses>
        </host>

        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="EventServiceBinding" contract="TFSPlugin.Notification.ITFSEventHandler"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

      </service>
    </services>

  </system.serviceModel>

</configuration>
